@import './shared/fonts';
@import './shared/colors';
@import './shared/mixins';
//PAGES
@import './index';
@import './portfolios';
@import './blogs';
@import './about';
@import './cv';
//COMPONENTS
@import './header';
@import './slate-editor';

@font-face {
  font-family: 'Inconsolata';
  src: url('https://ggayane.github.io/css-experiments/Inconsolata-VF.ttf');
  font-weight: 275 900;
  font-stretch: 50% 200%;
}
html, body {
	width:100vw;
	min-width:1280px hidden ;
	min-height:720px hidden;
	// height: ;
	 font-family: 'Grotesk' ;
  letter-spacing: 0;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	overflow: scroll;
	position:static;
}

.simulacro2-page {
  #z-index {
    z-index: -1;
  }

  #1er {
    position: static;
  }

  .entirerow {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
  }

  .column {
 //   flex: ;
    flex-shrink: 0;
    padding: 0.5vw;
  }

  img {
    height: 35vw;
  }
}

  .self-typed {
    font-size: 31px;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
  }

  .absolute {
    position: absolute;
  }

  .error {
    font-weight: bold;
    color: red
  }

  .base-page {
    padding: 150px 0 100px 0;
    color: black;
    background-color: #ecedee;
    min-height: 100vh;
    .page-header {
      .page-header-title {
        font-weight: 700;
        color: black;
        display: inline-block;
        margin-bottom: 20px;
      }
    }
  }

  .clickable {
    cursor: pointer;
  }
